/*@import 'normalize.css';*/

:root {
  font-size: 16px;
}
.box2 {
  width: 200px;
  height: 200px;
  display: grid;
  user-select: none;
  background-image: url('shared/assets/img/img.png');
  background-size: contain;
  border: 0.5rem solid red;
  box-shadow: 40px 20px 40px -10px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

.box2:hover {
  border-radius: 2rem;
}
