@import 'normalize.css';

* {
  font-family: sans-serif;
}

h1 {
  /*color: green;*/
  /*color: red;*/
  font-size: 3rem;
  /*background: red;*/
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
